html, body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
body{
  /*width: -webkit-fill-available; */
} 
/* The following decides how the body will be divided */
#content { 
	/* height: -webkit-fill-available; */
	/* width: -webkit-fill-available; */
	display: grid;
	grid-template-rows: 200px auto 0px;
	grid-template-columns:0vw;
}
header{
		grid-column: 1 / 3;
		background-color: #f7e8c8;
}
nav { 
		grid-row: 2 / span 2;
		background-color: #f7e8c8;
		height: 80vh;
}
main{
		background-color: #f7e8c8;
		grid-column: 2/3;
		grid-row: 2/ span2;
		overflow: scroll;
}
footer{
	background-color: lightgreen;
}
h1.headerTitle{
		text-align: center;
		color: navy;
		font-size: 50px;
		margin: 22px;
}
div.dropdown{
	padding-bottom:10px;
	width: 30vw;
	max-width: 200px;
	overflow-y: scroll;
	margin: 20px;
}
div.dropdown a.college { 
	text-decoration: none;
	color: brown;
	background-color: #fff861;
/*	background-color: powderblue; */
	display: block;
	text-align: center;
	padding: 16px;
	max-width: 150px;
	margin: auto;
	border-radius: 25px;
	font-weight: bold;
	font-size: 18px;
	transition-duration: 0.6s;
}
div.dropdown a.department { 
	text-decoration: none;
	color: white;
	background-color: #5F555B;
	display: block; 
	text-align: center;
	padding: 8px;
	width: 100px;
	margin: auto;
	border-radius: 20px;
	transition-duration: 0.6s;
	}
div.dropdown  a.department:hover{
	background-color:  #84767E;
	border-radius: 10px;
	width : 110px;
}
div.dropdown a.college:hover{
	background-color: #fffa94;
	border-radius: 20px;
	width: 150px;
}
div.dropdown div.department {
	display: none;
}

.query_result {display:none;}

.table-cell {
	border: solid;
	border-color: #777;
	border-radius: 10px;
	width: 10px;
	height: 3px;
	transition-duration: 0.3s;
}
td.table-cell:hover{
	background-color: #f5c9bc;
}
.table-main{
	width: 100%;
	height: 1000px;
  padding: 20px 100px;
}
th.table-cell{
	background-color: #fff861;
	color: brown;
}
td.table-cell{
	text-align:center;
	font-weight: bold;
}
#searchBar{
	width: 80%;
	max-width: 500px;
	font-size: 16px;
	padding: 16px;
	border: 1px solid #ddd;
	margin: 20px;
}
