/* body  */

*{
    margin:0;
    padding:0;
    
}

html{
    font-size: 62.5%;
}

body{
    padding:1.5rem;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    line-height: 1.7;
    color: rgb(206, 205, 205);
    box-sizing: border-box;
    
    
    
}
/* Reuseable components */

.text-center{
    text-align: center;
}




/* heading */
h2{
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color:#777;
    
}


/*header*/


.header {
    height:100vh;
    background-image: linear-gradient(
        to right bottom,
        /*  從左上到右下  */
        rgba(192, 118 ,89, 0.8),
        rgba(195, 132 ,97, 0.8)),url("../img/nat-3-large.jpg");
    background-size: cover;
   
    position: relative;
    -webkit-clip-path: polygon(0% 0%,100% 0%,100% 75%,0% 100%);
}


.text-box{
    text-align: center;
    position: absolute;
    top:38%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.header-text-primary{
    display: block;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: .35rem;
    word-spacing: 2rem;
    
   
}

.header-text-sub{
    display: block;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: .35rem;
   
}

/* section-about */

.section-about{
    background-color: #f7e8c8;
	font-family:Microsoft JhengHei;
    padding:20rem 0;
    margin-top:-20rem;
}

.section-about p{
    letter-spacing:2px; 
		line-height:40px; 
		text-align:center;
		text-decoration:blink;
		font-family:Microsoft JhengHei;
		font-size: 20px;
		color: gray;
		font-weight:600;
		padding: 25px;
}

.introdution{
	
	display: grid;
	grid-template-columns: [line1] 0.05fr [line2] 0.2fr [line3] 0.25fr [line4] 0.2fr [line5] 0.25fr[line6]0.05fr[end];
	grid-template-rows: [row-1-start] 0.5fr [row-2-start] 20px [row-3-start] 0.5fr[row-4-start]20px [row-5-start]auto [row-end];
}


.grid-item div {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-item b {
	font-size: 18px;
	font-family: '微軟正黑體',sans-serif;
}
.leader_photo{
	background-color: #c07759;
	grid-column: line2 / line3;
	grid-row: row-1-start/row-2-start;
}

.leader_article{ 
	background-color: #c5655d;
	grid-column: line3/line6;
	grid-row: row-1-start/row-2-start;
}

.member1_photo{
	background-color: #c07759;
	grid-column: line2 / line3;
	grid-row: row-3-start/row-4-start;
}

.member1_article{ 
	background-color: #c5655d;
	grid-column: line3/line4;
	grid-row: row-3-start/row-4-start;
}

.member2_photo{
	background-color: #c07759;
	grid-column: line4 / line5;
	grid-row: row-3-start/row-4-start;
}

.member2_article{ 
	background-color: #c5655d;
	grid-column: line5/line6;
	grid-row: row-3-start/row-4-start;
}

.member3_photo{
	background-color: #c07759;
	grid-column: line2 / line3;
	grid-row: row-5-start/row-end;
}

.member3_article{ 
	background-color: #c5655d;
	grid-column: line3/line4;
	grid-row: row-5-start/row-end;
}

.member4_photo{
	background-color: #c07759;
	grid-column: line4/line5 ;
	grid-row: row-5-start/row-end;
}

.member4_article{ 
	background-color: #c5655d;
	grid-column: line5/line6;
	grid-row: row-5-start/row-end;
}
